<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" type="text/css" href="styles/comment.css">
    <meta charset="utf-8">
    <title>Welcome here</title>
  </head>
  <body>
  	<p>{{ .Status}}</p>
  	<div id = "whole">
	  	<div id = "head">
	  		<h1 id = "wlcm_here">
	  			WELCOME {{ .Nick}}
	  		</h1>
	  	</div>
	  	<div id = "image">
	  	</div>
	  	<section id = "section">
	  		<article id = "article">
	  			<header id = "article_head">
	  				<ul class = "menu">
	  					<li><a>Holy-Spirit</a></li>
	  					<li><a>Rigtheousness</a></li>
	  					<li><a>Tithing</a></li>
	  					<li><a>Repentance</a></li>
	  				</ul>
	  				<h1>FAITH BIRTHS RIGHTEOUSNESS</h1>
	  			</header>
	  			<div id = "write_up">
	  				<p >Faith births rigtheousness!!!

So many times we strive (not thrive) to attain certain level of righteousness.

To "strive" means to intentionally, and vigorously work or aim to achieve a feat,

To "thrive" on the other hand means to grow and develop vigrously (not work vigorously to develop), to soar naturally, to prosper and to flourish. How does this work?

This almost directly negates the natural law of success in any feat, but who says we are under the law, for we have been saved by grace. Don't try to measure up, it'll result in frustration...Avoid Self-righteousness...

We as Christ-likes should'nt "Strive", we should rather "thrive"

Ephesians 2:9
For by grace(undeserved kindness) you have been saved through faith; and that not of yourselves, it is the gift of God; not as a result of works, so that no one may boast.

Do not work vigorously at being righteous, grow in Faith, study your Bible, live the Faith, and watch the holy spirit perfect himself in you.

Remember that Faith births righteousness not the other way round...

Shalom!!!</p>		<div>
					<h1>Leave a Comment below<h2>
					<form action="/say" method="POST">
					<textarea rows = "10" cols = "80" name = "talk">Tell us what you think</textarea><br>
					<button type="submit"></button>
					</form>
	  			<footer id = "article_foot">
	  				Culled from Spirit verve dot org
	  			</footer>
	  			</div>
	  		</article>
	  		
	  		<div class = "comms">
	  			<h3>{{ .NickAndTime}}</h3>
	  			<p>{{ .Words}}</p>
	  		</div>
	  		<p>See what other readers think</p>
	  		{{ range $key, $value := .OtherComments}}
	  			<div class ="comms">
	  			<h3>{{ $key}}</h3>
	  			<p>{{ $value}}</p>
	  			</div>
	  		{{ end}}
	  	</section>
	  	<footer id = "body_footer">
			Copyright Blah!! Blah!! 2016
		</footer>
	</div>
  </body>
</html>
